@model EmpCRUD220424.Models.login 
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using(Html.BeginForm("login","Employee",FormMethod.Post))
{ 
<table>
	<tr>
		<td>@Html.LabelFor(x => x.username)</td>
		<td>@Html.TextBoxFor(x => x.username)</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(x => x.password)</td>
		<td>@Html.TextBoxFor(x => x.password)</td>
	</tr>
	<tr>
		<td><input type="submit" value="submit"/></td>
		<td>@Html.ActionLink("Sing Up", "signup", "Employee" ,new {@class="btn btn-success"})</td>
	</tr>
</table>
}

